In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
dataframe=pd.read_csv('Social_Network_Ads[1].csv')

In [11]:
dataframe.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [12]:
dataframe.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [13]:
dataframe.drop(columns=['User ID'],inplace=True)    # inplace=True when u want to modify the original df..if u r doing df=xyz dont use inplace=True

In [14]:
dataframe.columns

Index(['Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [15]:
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.model_selection import train_test_split

In [18]:
dataframe['Gender']=LabelEncoder().fit_transform(dataframe['Gender'])   #syntax imp

In [19]:
dataframe['Gender']

0      1
1      1
2      0
3      0
4      1
      ..
395    0
396    1
397    0
398    1
399    0
Name: Gender, Length: 400, dtype: int64

In [20]:
x=dataframe.drop(columns=['Purchased'])

In [21]:
x.columns

Index(['Gender', 'Age', 'EstimatedSalary'], dtype='object')

In [22]:
y=dataframe['Purchased']

In [23]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [24]:
scaler=StandardScaler()
x_scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.transform(x_test)

In [25]:
from sklearn.linear_model import LogisticRegression

In [28]:
model=LogisticRegression()
model.fit(x_scaled,y_train)
y_pred=model.predict(x_test_scaled)

In [30]:
from sklearn.metrics import confusion_matrix,recall_score,precision_score,accuracy_score

In [32]:
conf=confusion_matrix(y_test,y_pred)
acc=accuracy_score(y_test,y_pred)
rec=recall_score(y_test,y_pred)
pre=precision_score(y_test,y_pred)
error_rate=1-acc

In [33]:
print(conf)
print(acc)
print(rec)
print(pre)
print(error_rate)

[[50  2]
 [ 7 21]]
0.8875
0.75
0.9130434782608695
0.11250000000000004